.navBar {
    height: 56px;
    width: 1440px;
    flex-shrink: 0;
    background: var(--background-color, #212121);
}

.logo-div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 8px;
}

#logo {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 5px 3px 6px 3px;
    justify-content: center;
    align-items: center;

}

.youtube-log {
    align-items: flex-start;
    gap: 10px;
    padding: 18px 14px 18px 16px;

}